div[role="feed"] {
  position: relative;
  max-height: 200px;
  overflow: hidden;
}

div[role="feed"]:before {
  content: 'Feed was removed by a Chrome extension';
  position: absolute;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9ebee;
  text-align: center;
  font-size: 2em;
  padding-top: 20px;
}

div#fb_stories_card_root {
  position: relative;
}

div#fb_stories_card_root:before {
  content: 'Stories were removed by a Chrome extension';
  position: absolute;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9ebee;
  text-align: center;
  font-size: 2em;
  padding-top: 20px;
}
